body {
  background: #fff;
  font-family: 'Arial';
  color: #646464;

}


.continents-wrap {
  margin: 0 0 0 0;
  padding: 0;
}

.venues-wrap {
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
}

.venues {
  width: 100%;
}

.venues div {
  float: left;
  width: 100%;
  height: 10vw;
  line-height: 20px;
  padding: 0 5%;
  background: #FFF;

  position: relative;
  padding-bottom: 50px;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  font-size: 0.75em;
 }

h3.filter_style {
    background-color: #054F7F;
    font-size: 2em;
    text-align: center;
    width: 100%;
    color:white;
}

.filter_style {
	font-size:14px;
	font-weight:bolder;
}

.cat_style {
	font-size:12px;
	padding-left: 20vw;
}

.location {width:100%;
float: left;
display:inline;
text-align: left;
font-weight: bolder;}

.location_key {width:40%;
float: left;
display:inline;
text-align: left;
font-weight: bolder;}

.area {width:20%;
display:inline;
text-align: center;
font-weight: bolder;}

.hh_t {
width: 30%;
display:none;
text-align: right;
font-style: italic;
padding-left:7vw;}

.icon {
	text-align: center;
  float:right;

}

.icon img {width:7vw;
padding-top: 5px;
padding-left: 3px;
padding-right: 3px;
padding-bottom: 10px;}

img.filter {width:10vw;
margin-left: -40px;
padding-right: 10px}

.show-class { display: inline;
float: right;
text-align: right;}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin: 0;
  padding: 0;
  width: 94vw;
  margin-left: 3vw;
  max-width: 1200px;
  
}

/* The Close Button */
.close {
  color: black !important;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 65px !important;
  font-weight: bold;
  opacity: 1 !important;
  padding-top: 10vw;
}

@media only screen and (min-width: 600px) {
    .close {
  color: black !important;
  position: absolute;
  top: -50px;
  right: 25px;
  font-size: 65px !important;
  font-weight: bold;
  opacity: 1 !important;
  padding-top: 10vw;
}
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  overflow: scroll;
  max-height: 70vh;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.key div {
  float: left;
  width: 100%;
  height: 20px;
  line-height: 30px;
  padding: 0 5%;
  background: #bbb;
  margin: 0 0 1px;
  position: relative;
  padding-bottom: 70px;

}


input#Search{
	width:90vw;
	font-size: 1.5em;
}

.card {


  margin-bottom: 1px;
  box-shadow: inset 0px 0px 55px 5px rgba(4,79,127,0.95);
	
}

.card-body {
    background-color: white;
    width: 100vw;
    padding-left: 2.5vw;
    padding-right:1.5vw;}

button.btn.btn-link {
	font-size: 1.2em;
	color:black;
	padding-bottom: 10px;
  font-weight: bolder;
  width: 100vw;
}

h5.mb-0 {
	text-align: center;
}

.btn-link:hover, .btn-link:focus {
	text-decoration: none !important;
}

.footer {
  position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e3e6ea;
   color: black;
   text-align: center;
   height: 30px;
   font-weight: bolder
}

.footer p {font-size: 0.6em;}

.footer img {margin-right: 16px;
    margin-left: 2px;}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ui-button {
  background-color: #099EFF;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  display:inline-grid;
  width:43.5vw;
  z-index:100;
  text-align:center;
  padding:3px;
  margin-left:3px ;
  margin-right:3px;
  margin-bottom: 15px;
  margin-top: 10px;
  }
  
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }

#refresh_btn {
  width:94%;
  background-color: #044F7F;
  padding:3px;
  margin-left:3% ;
  margin-right: 3%;
  border:none;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bolder;
  font-size:1.4em;
  color:white;
}


.leaflet-popup-content {
  max-height: 60vh !important;
  overflow: scroll !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.navbar-default {
  background-color: #044F7F !important;
  border-color: transparent; !important;
  color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; !important;
}

.navbar-default .navbar-brand {
  color:white !important;
}

.navbar-default .navbar-nav > li > a {
  color:white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:white !important;
}

.navbar {
margin-bottom: 0px !important;  
}

h4, .h4, h5, .h5, h6, .h6 {
  margin: 0px !important;
}

input#Search{
  border: 3px solid rgba(5,79,127);
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: none !important;
}